.box {
    width: 442px;
    height: 290px;
    border: 1px solid #4c4c4c;
    margin: 10px auto;
}
.title {
    height: 58px;
    padding: 29px 29px 0 31px;


}
.context {
    height: 200px;
    border-top: 1px black dashed;
    padding: 0 0 0 31px;

}