.box {
    position: relative;
    width: 846px;
    height: 472px;
    background-color: purple;
    margin: 0 auto;
}

.left-a {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    bottom: 50%;
    margin-bottom: 14px;
    width: 17px;
    height: 27px;
    background-color: rgba(0, 0, 0, .7);
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    line-height: 27px;
    padding-left: 2px;
    color: white;
}

.right-a {
    position: absolute;
    box-sizing: border-box;
    right: 0;
    bottom: 50%;
    margin-bottom: 14px;
    width: 17px;
    height: 27px;
    background-color: rgba(0, 0, 0, .7);
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    line-height: 27px;
    padding-left: 4px;
    color: white;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 10px;
    background-color: rgba(255, 2555, 255, .3);
    border-radius: 5px;
}

.footer ul li {
    box-sizing: border-box;
    float: left;
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    margin: 2px 4px;

}